body{
    background-color: rgb(216, 168, 105);
}
  
.box1{
    margin: 10px;
    padding: 15px;
    display: inline-block;
    text-align: left;
    font-weight: normal;
    font-size: 12pt;
    background-color:midnightblue
  }
.box2{
    margin: 10px;
    padding: 15px;
    display: inline-block;
    text-align: left;
    font-weight: normal;
    font-size: 12pt;
    background-color:midnightblue
  }         
h2{
        color: rgb(245,245,220)
    
}
h2{
    font-size: 18pt;
}

h3{
    color:rgb(245, 245, 220)
   
}
h3{
    font-size: 18pt;
}

p{
    color:rgb(245, 245, 220); 
}

a{
    text-decoration:none;
}

.text-wheat{
    color:rgb(245, 245, 220) 
}

.page-title{
    font-size: 40px;
    text-align:center;
    color:midnightblue
}
IMG.displayed{
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

 #img-round{
     border-radius: 50%;
}   



ul{
    padding:0;
    width: 100%;
}
li{
    display: inline;
}
a{
    outline: none;
    text-decoration: none;
    display: inline-block;
    width:19.5%;
    margin-right: 0.625%;
    text-align: center;
    line-height: 3;
    color: midnightblue
   
}
li:last-child a {
    margin-right:0;
}
a:link, a:visited, a:focus{
    background:rgb(245, 245, 220);
}
a:hover{
    background: rgb(240, 174, 88);
}
a:active{
    background: rgb(114, 24, 24);
    color: white; 
}

 @media screen and (prefers-color-scheme: dark) {
    body {
      background-color:black;
      color:white;
    }

    .page-title{
        color: white;
    }
  
 }